@import url("fonts.css");

:root{
    --color-text-default : rgb(218, 197, 167);
    --color-text-muted : rgb(218, 197, 167, 60%);
    


    --color-background: rgb(14, 14, 14);
    --color-background-muted :rgb(218, 197, 167, 5%);
    --color-border-muted :rgb(218, 197, 167, 15%);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-background);
    font-family: 'Chillax-Regular';
}

p,li,a,span,h1,h2,h3{
    color: var(--color-text-default);
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.navbar__section .container{
    display: flex;
    justify-content: center;
}

.navbar__box{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin: 30px 10px 0 10px;
    border: 1px solid var(--color-text-default);
    background-color: var(--color-background-muted);
}

.logo p,
.navbar li
.navbar__box span{
    cursor: pointer;
}

.logo p{
    font-size: 20px;
    font-weight: 700;
}

.navbar{
    display: flex;
    margin: 0 20px;
}

.navbar li{
    margin-top: 3px;
    text-transform: uppercase;
    padding: 5px;
    letter-spacing: 1px;
    font-size: 14px;
}

.navbar li:hover{
    background-color: var(--color-text-default);
}

.navbar li:hover > a{
    font-weight: 700;
    color: black
}

.navbar__box > span{
    cursor: pointer;
    padding: 5px 10px;
    background-color: var(--color-text-default);
    border: 1px solid var(--color-text-default);
}

.navbar__box > span a{
    color: var(--color-background);
    font-weight: 600;
}

.navbar__box > span:hover{
    background-color: transparent;
    border: 1px solid var(--color-text-default);
}

.navbar__box span:hover > a{
    color: var(--color-text-default);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.hamburger .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-text-default);
}

/* Herobanner */
.herobanner__section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto;
}

.person img{
    width: 300px;
    margin-bottom: 15px;
}

.herobanner-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.herobanner-title h1{
    font-size: 100px;
    font-family: 'Satoshi-Light';
    font-weight: 300;
    line-height: 6rem;
    margin-bottom: 15px;
}

.herobanner-title h1 span{
    font-family: 'Gambetta-LightItalic';
}

.herobanner-title p{
    color: var(--color-text-muted);
    width: 400px;
    margin-bottom: 25px;
}

.herobanner__section .container > span{
    cursor: pointer;
    padding: 8px 25px;
    background-color: var(--color-text-default);
    border: 1px solid var(--color-text-default);
}

.herobanner__section .container > span a{
    color: var(--color-background);
    font-weight: 600;
}

.herobanner__section .container > span:hover{
    background-color: transparent;
    border: 1px solid var(--color-text-default);
}

.herobanner__section .container > span:hover > a{
    color: var(--color-text-default);
}

.logo__box{
    display: flex;
    justify-content: space-evenly;
}

.card__box{
    display: grid;
    grid-template-rows: 310px;
    grid-template-columns: repeat(auto-fit, minmax(445px, 445px));
    gap: 1em;
    justify-content: center;
    margin: 4em 0;
}

.card__box .card-item{
    background-color: var(--color-background-muted);
    border: 1px solid var(--color-border-muted);
}

.card-content{
    padding: 50px;
}

.card-content .text p,
.card-content .text h3,
.card-content .text span{
    font-family: 'Satoshi-Light';
    font-weight: 300;
}



.card-content .text span,
.card-content .text p{
    color: var(--color-text-muted);
}

.card-content .text h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.card-content .text p{
    font-family: 'Chillax-Light';
    line-height: 1.7rem;
    margin-bottom: 20px;
}

.card-content .button,
.work-header .button{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 1ms ease-in;
}

.card-content .button img,
.work-header .button img{
    background-color: var(--color-background-muted);
    padding: 7px;
    border-radius: 100%;
    border: 1px solid var(--color-border-muted);
    margin-right: 5px;
    transition: transform 0.1s ease-in;
}

.card-content .button p,
.work-header .button a{
    text-transform: uppercase;
    padding: 10px;
}

.card-content .button:hover > img,
.work-header .button:hover > img{
    transform: rotate(45deg);
}

.card-content .button:hover > p,
.work-header .button:hover > a{
    background-color: var(--color-text-default);
    color: var(--color-background);
    font-weight: 700;
    
}

.work-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 0;
}

.work-header h2{
    font-family: 'Satoshi-Light';
    font-weight: 300;
    font-size: 40px;
}

.work-header h2 span{
    font-family: 'Gambetta-LightItalic';
}

.work__box{
    display: grid;
    grid-template-rows: repeat(2, minmax(515px, 515px));
    grid-template-columns: repeat(auto-fit, minmax(340px, 626px));
    gap: 1.8em;
    margin-top: 15px;
    justify-content: center;
    
}

.work-card{
    display: flex;
    align-items: flex-end;
    background-size: 100%;
    background-repeat: no-repeat;
}

.work-card.card-1{
    background-image: url("/assets/web1.jpeg");
}

.work-card.card-2{
    background-image: url("/assets/web2.jpeg");
}

.work-card.card-3{
    background-image: url("/assets/web3.jpeg");
}

.work-card.card-4{
    background-image: url("/assets/web4.jpeg");
}

.work-card .work-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    margin: 0 40px 30px 40px;
    padding: 10px;
    cursor: pointer;
}

.work-content span{
    text-transform: capitalize;
}

.work-content p{
    font-family: 'Satoshi-Light';
    font-weight: 300;
    text-transform: uppercase;
}

.work-content:hover{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

.work-content:hover > span,
.work-content:hover > p{
    color: var(--color-background);
    font-weight: 700;
}

.process__section{
    margin-top: 10em;
}

.process__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.process__text p,
.process__text h1,
.process__text span{
    text-align: center;
}

.process__text p{
    font-family: 'Satoshi-Light';
    text-transform: uppercase;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 2px;
}

.process__text h1{
    font-size: 80px;
    font-family: 'Satoshi-Light';
    font-weight: 100;
    line-height: 1em;
    margin-bottom: 15px;
}

.process__text h1 span{
    font-family: 'Gambetta-LightItalic';
}

.process__text span{
    width: 400px;
}

.process__box{
    display: grid;
    grid-template-rows: repeat(5, 450px);
    grid-template-columns: minmax(500px, 600px);
    gap: 1em;
    justify-content: center;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;

}

.process-card{
    background-color: var(--color-background-muted);
    border: 1px solid var(--color-border-muted);
}

.process-content{
    padding: 30px 50px;
}

.process-content .time{
    width: 100%;
    display: flex;
    justify-content: end;

}

.process-content .time p{
    padding: 10px;
    border: 1px solid var(--color-border-muted);
    text-transform: uppercase;
}

.process-content .header{
    font-family: 'Satoshi-Light';
    text-transform: uppercase;
}

.process-content .header p{
    color: var(--color-text-muted);
}

.process-content .header h2{
    font-weight: 300;
    margin-bottom: 20px;
}

.process-content .text p{
    color: var(--color-text-muted);
    line-height: 1.7em;
    font-weight: 300;
    margin-bottom: 30px;
}



.process-content .process-list li {
    list-style-type: circle;
    margin-bottom: 10px;
}











@media (max-width: 1280px){
    .work__box{
        grid-template-rows: repeat(4, minmax(515px, 515px));
    }
}

@media (max-width: 1024px){

}

@media (max-width: 768px){
    .logo__box{
        justify-content: space-evenly;
        align-items: center;
    }

    .logo__box .logo-item {
        gap: 1em;
    }

    .logo__box .logo-item img{
        width: 100%;
    }
}

@media (max-width: 640px){
    .navbar__box{
        justify-content: space-between;
        width: 100%;
        margin: 0;
        border: none;
        border-bottom: 1px solid var(--color-text-default);
    }

    .navbar__box > .hamburger,
    .navbar__box > span{
        margin: 0 20px;
    }

    .navbar{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .herobanner-title h1{
        font-size: 70px;
        font-family: 'Satoshi-Light';
        font-weight: 300;
        line-height: 5rem;
        margin-bottom: 15px;
    }

    .process__box{
        grid-template-columns: minmax(350px, 600px);
    }
    .process-content{
        padding: 30px;
    }
}

@media (max-width: 475px){
    .navbar__box > .hamburger,
    .navbar__box > span{
        margin: 0 15px;
    }

    .person img{
        width: 250px;
    }

    .herobanner-title h1{
        font-size: 50px;
        font-family: 'Satoshi-Light';
        font-weight: 300;
        line-height: 3.2rem;
        margin-bottom: 15px;
    }

    .herobanner-title p{
        width: 100%;
    }

    

    .logo__box{
        justify-content: center;
        align-items: center;
    }

    .logo__box .logo-item {
        margin: 0 10px;
        width: 50px;
        gap: 1em;
    }

    .logo__box .logo-item img{
        width: 100%;
    }

    .card__box{
        grid-template-columns: repeat(auto-fit, minmax(310px, 310px));
    }
    .card-content{
        padding: 30px;
    }

}

